@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.header{
background: black;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid {
    /* display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr)); */
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    width: 100%;

    
}


a { text-decoration: none; }

.contents{
    max-width: 1280px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  
}

.carouselContainer{
    position: relative;
    max-width: 1280px;
}

.rightButton{
    position: absolute;
    right: 1px;
    font-size: 30px;
}

.listTitleGroup{
    
    margin: 15px;
    
    
}

.listTitleGroup h2{
    color: #FFAE42;
}

.deleteButton {

    background-color: #FFAE42;
    height: 1.9rem;
    border-radius: 5px;
    padding:0 30px;
}
.deleteButton:hover{
    background-color: #ffb85c;
}

.noUserPrompt{
    background-color: rgb(97, 97, 97);
    padding: 1rem;
    border-radius: 0.5rem;
    /* height: 25rem; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.noUserLeft{
    width: 50%;
    font-family: "poppins";
    color: white;
    padding: 1rem;
display: flex;
flex-direction: column;
justify-content: center;
border-right: 1px solid rgb(187, 187, 187);
}

.noUserLeftTitle{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1.9rem;
    line-height: 1.7rem;
}

.noUserLeftContent1{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(224, 224, 224);
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.noUserLeftContent2{
    font-size: 0.8rem;
    /* line-height: 0.9rem; */
   margin-bottom: 1.4rem;
    
}

.noUserRight{
    width: 50%;
    font-family: "poppins";
    color: white;
    padding: 1rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1rem

}

.noUserRightTitle{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.login{
    background-color: rgb(27, 27, 27);
    font-family: "poppins";
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    width: 70%;
}

.register{
    background-color: rgb(65, 65, 65);
    font-family: "poppins";
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    width: 70%;
}

.noUserRight a {
    display: flex;
    justify-content: center;
width: 100%;
margin: 0 auto;
}


.gridScroll{
    display: flex;
   
   overflow-x: auto;
    scroll-behavior: smooth;
    
}
.gridScroll::-webkit-scrollbar {
    display: none;
  }

  .sliderContainer{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    position: relative;
    /* padding: 0 1rem; */
  }

  .sliderButtonLeft{
    position: absolute;
    left: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sliderButtonRight{
    position: absolute;
    right: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
  }

@media (max-width: 480px){
    .noUserRight{width: 100%}
    .noUserLeft{width: 100%; border: none; border-bottom:1px solid rgb(187, 187, 187);
    ;}
}